*{
	margin: 0;
	padding: 0;
}
header{
	text-align: center;
}

h1{
	font-size: 250%;
	margin: 20px;
}

.header{

	width: 25%;
	height: 155px;
	overflow: auto;
	margin: 30px;
	border: 1px solid black;
	background-color: gray;
	display: inline-block;
	}

.title{
	width: 40%;
	padding: 4px;
	background-color: red;
	float: right;
	margin: 0;
	font-family: "Times New Roman", Georgia, Serif;
}

#p1, #p2 ,#p3{
	text-align: left;
	margin-left: 15px;
	margin-top: 30px;
}

.chicken{
	background-color: #ca8486;
}

.beef{
	background-color: #b23034;
}

.sushi{
	background-color: #dec886;
}

p{
	margin-top: 20px;
}

#content{
	margin: 0 auto;
}